header .navbar-nav .nav-link{
    color: black !important;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}
header .nav-item:hover .nav-link,
header .nav-item.active .nav-link{
    border-color: black;
}