*{
    padding: 0;
    margin: 0;
}
header{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 20px;
}
header .nav-link{
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    font-weight: 500;
}
header .nav-item:hover .nav-link,
header .nav-item.active .nav-link{
    border-color: white;
}
header .navbar-nav .nav-link{
    color: white !important;
}
main{
    font-family: 'Oswald', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
footer{
    font-family: 'Oswald', sans-serif;
    background: inherit;
}
main::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none !important;
}
