.service-main{
    height: 100vh;
    background-image: url('https://ik.imagekit.io/64grotxkwkd/oseon/girlemployee.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}

.development{
	text-align: center;
	align-content: center;
	padding: 30px 90px 20px 90px;
}
.mobile{
	/*background-color: red;*/
	display: flex;
	justify-content: space-around;
}
.web{
	/*background-color: green;*/
	display: flex;
	justify-content: space-around;
}
.ui-ux{
	/*background-color: blue;*/
	display: flex;
	justify-content: space-around;
}
.digital{
	/*background-color: yellow;*/
	display: flex;
	justify-content: space-around;
}


.feedback{
	background-color: #024c87;
}
.feedback-card{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
	width: 90%;
	margin: 0 auto;
}
.feedback .img{
    width: 25%;
    display: grid;
    place-items: center;
}
.feedback .img .img-hold{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #bdb7b7;
}

.start{
	min-height: 50vh;
	width: 100%;
	background: url('https://ik.imagekit.io/64grotxkwkd/oseon/buildingview.png?updatedAt=1638104054586');
	background-position: center;
	background-size: cover;
	align-items: center;
	text-align: center;
}
.start h3{
	font-size: 20px;
}
.start button{
	color: #fff;
	border-radius: 20px;
	margin-top: 6px;
	padding: 5px 50px;
	background-color: blue;
	cursor: pointer;
	overflow: hidden;
	border: transparent;
}
.updates{
	padding: 50px 0px 50px 0px;
	display: flex;
	justify-content: space-evenly;
}
.udates ul, li{
	padding: 13px;
}
