header{
    color: #2C70C0;
    border-bottom: 4px solid #2C70C0;;
}

.inter-main-inner .btn{
    background: #2C70C0;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    transition: 0.2s ease;
}
.inter-main-inner .btn:hover{
    background: #215999;
    color: white;
}

.overlaps{
    width: fit-content;
    position: relative;
    display: flex;
}
.overlaps .hold{
    position: relative;
}
.overlaps .hold .o-img{
    height: 50px;
    width: 50px;
    background: lightgray;
    border-radius: 50%;
    overflow: hidden;
}
.o-img.i1{
    transform: translateX(-7px);
}
.o-img.i2{
    transform: translateX(-14px);
}


.info-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-list > .hold{
    background: #EEEEEE;
    box-shadow: 0px 4px 5px rgba(44, 112, 192, 0.48);
    border-radius: 23px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.info-list > .hold .img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: white;
}

.i-quote.card{
    border-radius: 20px;
    transition: 0.2s ease;
    box-shadow: 2px 2px 4px gray;
}
.i-quote.card:hover{
    background: #215999;
    color: white;
}

#experince-carousel{
    overflow-x: scroll;
}
#experince-carousel .profile-img-circle{
    width: 50px;
    height: 50px;
    background: lightgray;
}


.gallery-cell {
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
ol.flickity-page-dots li.dot{
    background: lightgray;
}

#steps-accordion .card-header{
    padding-top: 0.2rem;
    position: relative;
}

#steps-accordion button:active,
#steps-accordion button:hover,
#steps-accordion button.switch{
    font-size: 1.2rem;
    width: 100%;
    background-color: transparent;
    margin-top: 0;
    color: #2C70C0;
    text-align: left;
    border: none !important;
    outline: none !important;
}

#register-btn{
    padding-left: 40px;
    padding-right: 40px;
    background: #024C87;
    color: white;
    transition: 0.2s ease;
    border-radius: 25px;
}
#register-btn:hover{
    background: #2C70C0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .inter-main-inner{
        height: 80vh;
    }    
    .inter-main-inner .text{
        padding: 2rem;
    }
    .inter-main-inner .img{
        padding: 0;
        height: fit-content;
    }
    .info-list{
        padding-left: 10px;
        padding-right: 10px;
    }
    .gallery-cell{
        width: 65%;
        margin-right: 5vw;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .inter-main-inner{
        height: 80vh;
    }    
    .inter-main-inner .text{
        padding-top: 3rem;
        padding-left: 3rem;
    }
    .inter-main-inner .img{
        padding: 0;
        height: fit-content;
    }
    .gallery-cell{
        width: 60%;
        margin-right: 5vw;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .inter-main-inner .text{
        padding-top: 2rem;
        padding-left: 5rem;
    }
    .inter-main-inner{
        height: 80vh;
    }
    .gallery-cell{
        width: 55%;
        margin-right: 5vw;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/* small */
@media (max-width: 767.98px) {
    
}

/* big */
@media (min-width: 768px){
    .inter-main{
        height: 90vh;
    }
    #experince-carousel::-webkit-scrollbar{
        display: none;
    }
}

@media (min-width: 992px){
    .inter-main-inner{
        justify-content: center;
    }
    .gallery-cell{
        width: 35%;
        margin-right: 10vw;
    }
}
