header{
    width: 100%;
    z-index: 1;
    color: white;
    position: absolute;
    background: transparent;
}

main > div.col-11{
    padding-top: 4rem;
}

#contact-form .form-control{
    background: #013C6C;
    color: white;
    outline: none !important;
    border: none !important;
    box-shadow: 2px 2px 10px #013C6C;
}

@media (min-width: 992px){
    main > div.col-11{
        padding-top: 4rem;
    }
}